<!-- *************seller header-image************* -->
<div class="row">
	<div class="col-md-12">
		<img ng-src="{{headerImage}}">
	</div>
</div>
<!-- *************/seller header-image************* -->



<!-- *************seller-info************* -->
<div class="row">

	<!-- ****seller-logo**** -->
	<div class="col-xs-3">
		<img class="sellerLogo" ng-src="{{logo}}">
	</div>
	<!-- ****/seller-logo**** -->


	<!-- ****seller-name and description**** -->
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				<h2>{{sellerName}}</h2>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12">
				<p>{{sellerInfo}}</p>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-4 star-ratings-css">
	  			<div class="star-ratings-css-top" style="width: {{rating}}%">
	  				<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
  				</div>
  				<!-- <div class="star-ratings-css-bottom">
  					<span>★</span>
  					<span>★</span>
  					<span>★</span>
  					<span>★</span>
  					<span>★</span>
  				</div> -->
			</div>
			<div class="col-xs-8">
				<p>Ratings | {{followers}} Followers | {{soldItems}} Items Sold</p>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-4">
				<button ng-click="followers = followers + 1"><i class="fa fa-star" aria-hidden="true"></i>
	Follow</button>
			</div>
			<div class="col-xs-4">
				<button><i class="fa fa-comments-o" aria-hidden="true"></i>Chat to Buy</button>
			</div>
			<div class="col-xs-4">
				<button><img class="paySeller" src="img/Pay-Seller.png">Pay Seller</button>
			</div>
		</div>	
	</div>
	<!-- ****/seller-name and description**** -->

	
	<!-- ****yappily**** -->
	<div class="col-xs-3">

		<!-- yappily-logo -->
		<div class="row">
			<div class="col-xs-12">
				<img class="yappilyLogo" src="img/Yappily Logo.png">
			</div>
		</div>
		<!-- /yappily-logo -->

		<!-- secure-icon -->
		<div class="row">
			<div class="col-xs-12">
				<img class="paySeller" src="img/Secure.png">
			</div>
		</div>
		<!-- /secure-icon -->

		<!-- tag-line --> 
		<div class="row">
			<div class="col-xs-12">
				<p>Yappily-trusted Seller</p>
			</div>
		</div>
		<!-- /tag-line -->	

	</div>
	<!-- ****/yappily**** -->
	
</div>
<!-- *************/seller-info************* -->