<div>
	<div data-section="seller-header">
		<img ng-src="headerImage">
		<img ng-src="logo">
		<h2>{{name}}</h2>
		<p>{{sellerInfo}}</p>
		<div data-section="star-ratings">
			<p>Ratings | {{followers}} Followers | {{soldItems}} Items Sold</p>
		</div>
		<div data-section="buttons">
			<button><i class="fa fa-star-empty" aria-hidden="true"></i>
	Follow</button>
			<button><i class="fa fa-comments-o" aria-hidden="true"></i>Chat to Buy</button>
			<button><img src="img/Pay-Seller.png">Pay Seller</button>
		</div>
	</div>
	<div data-section="yappily-logo">
		<img src="img/Yappily Logo.png">
		<img src="img/secure.png">
		<p>Yappily-trusted Seller</p>
	</div>	
</div>