<!-- ********** items-section********** -->
<div class="row" ng-repeat="(category, categoryItem) in sellerItem">
	<section class="col-xs-12" id="{{category}}">
		<div class="row">
			<div class="col-xs-3" ng-repeat="item in categoryItem">

				<!-- ****first-row having seller-info**** -->
				<div class="row">
					<div class="col-xs-3">
						<img ng-src="{{item.logoUrl}}" class="logoUrl">
					</div>	
					<div class="col-xs-6">
						<h3>{{item.sellerName}}</h3>
						<p>{{item.postTime}} mins ago</p>
					</div>
					<div class="col-xs-3">
						<button ng-click="count = count + 1" ng-init="count=0"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
					</div>
				</div>
				<!-- ****/first-row**** -->

				<!-- ****second-row having product-image -->
				<div class="row">
					<!-- category-icon -->
					<div class="col-xs-12">
						<img class="itemIcon" ng-src="{{item.itemIcon}}"> 
					</div>
					<!-- /category-icon -->

					<!-- product-image -->
					<div class="col-xs-3">	
						<img ng-src="{{item.imageUrl}}">
					</div>	
					<!-- /product-image -->

					<!-- share-button -->
					<div class="col-xs-3 btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
		  			<ul class="dropdown-menu">
		    			<li><a href="#">Send sms from Contacts</a></li>
		    			<li><a href="#">Share via Whatsapp</a></li>
					    <li><a href="#">Share via Messenger</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Share</a></li>
					  </ul>
					</div>
					<!-- /share-button -->	
				</div>
				<!-- ****/second-row**** -->

				<!-- ****third-row having comments and likes**** -->
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<p>{{count}} Likes</p>
							</div>
							<div class="col-xs-6">
								<p>{{item.comments}} Comments</p>
							</div>
						</div>	
					</div>
					<!-- comment -->
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-4">
								<img class="commentImg" ng-src="{{item.commentImg}}">
							</div>
							<div class="col-xs-8">	
								<p>{{item.textComment}}</p>
							</div>	
						</div>
					</div>
					<!-- /comment -->
				</div>
				<!-- ****/third-row**** -->
				
			</div>
		</div>
	</section>		
</div>
<!-- **********/items-section********** -->